@import 'reset-css';
@import './assets/fonts/stylesheet.css';
@import './assets/scss/imports';

body * {
  @include text-unselectable();
  font-family: "Atkinson Hyperlegible";
  box-sizing: border-box;
}

body {
  overflow: hidden;
  overflow-y: auto;
}
